a,
#home-slider .caption h1 span,
#twitter-carousel .item span,
#footer .footer-bottom,
#single-portfolio .close-folio-item:hover,
.single-table.featured .btn.btn-primary,
.contact-info ul li a:hover,
#footer .footer-bottom a  {
  color: #b7b7b7;
  /*light color*/
}

.btn.btn-primary:hover,
.btn-submit:hover {
  background-color: #29999B;
  /*darker color*/
}

a:hover, a:focus {
	color: white;
}

.main-nav,
.service-icon,
.progress-bar.progress-bar-primary,
.single-table.featured,
.btn.btn-primary,
.twitter-icon .fa-twitter,
.twitter-left-control:hover, .twitter-right-control:hover,
.post-icon,
.entry-header .date:after,
.btn-loadmore:hover,
.btn-submit,
#footer,
.caption .btn-start:hover,
.left-control:hover,
.right-control:hover,
.folio-overview a:hover {
  background-color:#212121;
}

.twitter-left-control:hover,
.twitter-right-control:hover,
.btn-loadmore:hover  {
	border: 1px solid #63C0C5;
}

.caption .btn-start:hover,
.left-control:hover,
.right-control:hover {
	border-color: #555;
}

.twitter-icon .fa-twitter:after {
	border-color: #63C0C5 transparent;
}

/* Form */

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 250px; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container-form {
    width: auto;
}
